<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/github.png" alt="Logo" style="width:40px;">
  </a>
  
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 bg-dark" type="search" placeholder="Search or jump to.." aria-label="Search">
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="container-fluid" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Pull request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MarketPlace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
      </ul>
    </div>
  </div>
</nav>